*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
}

html{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
     background-color: var(--bg-primary-color) ;
     color:var(--text-primary-color) ;
}

:root{
    /* bg-colors */
   --bg-primary-color:rgb(16, 16, 16);
   --bg-button-color:#1a1a1a;
   --bg-delete-button:rgb(212, 57, 57);

     /* text colors */
    --text-primary-color:#f0f0f0;

     /* Spacing variables */
   --space-xs: 4px;
   --space-sm: 8px;
   --space-md: 16px;
   --space-lg: 24px;
   --space-xl: 32px;
   --space-2xl: 40px;
   --space-3x1:48px;

 /* padding variables */
    --nav-padding: 15px 30px; 
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-x1: 20px;
    --padding-xxl: 30px;

      /* border radius */
   --border-radius-xs:4px;
   --border-radius-sm:8px;
   --border-radius-md:12px;
   --border-radius-lg:16px;
   --border-radius-xl:20px;
   --border-radius-2xl:24px;

     /* font size */
 
     --text-xs:12px;
     --text-s:14px;
     --text-m:16px;
     --text-l:18px;
     --text-xl:21px


}

.nav-bar{
    /* border: 1px solid white; */
    background-color: var(--bg-button-color);
    /* position: fixed;
    top: 0%; */
    /* left: 0%;
    right: 0%; */
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem; */
    padding: var(--nav-padding);
}
.left{

}
.right{

}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

section{
    padding: var(--section-padding);
}



nav button{
    background-color: var(--bg-button-color);
    padding: var(--padding-m) var(--padding-l);
    border: none;
    outline: none;
    color: var(--text-primary-color);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
}

.board{
    /* border:1px solid red; */
    height: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    gap: var(--space-3x1);
}

.list{
    /* border: 1px solid yellow; */
    flex-grow: 1;
    background-color: var(--bg-button-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-md);
    transition: all 0.7s cubic-bezier(0.19,1,0.22,1);
    width: 500px;
}

/* hover on list */
.list-Hover{
    border: 2px dashed var(--text-primary-color);
    scale: 1.04;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-m);
}

.tasks{
    padding: var(--padding-m);
    /* border: 1px solid yellow; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.task-item{
    /* border: 1px solid white; */
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    background-color: #292929;
    border-radius: var(--border-radius-md);
    cursor: grabbing;
}



section .list .tasks .task-item .task-title{
    font-size: var(--text-xl);
    font-weight: 700;
}

.task-delete-button{
    background-color: var(--bg-delete-button);
    color: var(--text-primary-color);
    padding: var(--padding-s) var(--padding-m);
    border: none;
    outline: none;
    border-radius: var(--border-radius-xs);
    cursor: pointer;
}

.Delete-button{
    align-self: self-end;
}

.task-form{
    border: 1px solid white;
    border-radius: var(--border-radius-md);
     padding: var(--padding-l) var(--padding-m);
     height: 300px;
    width: 300px;
     /* padding: ; */
     display: flex;
     flex-direction: column;
   justify-content: center;
   gap:30px;

}

.modal{
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    /* backdrop-filter: blur(5px); */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.active-Modal{
    display: flex;
}

.conatiner{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

input{
    padding: var(--padding-m) var(--padding-l);
    border-radius: var(--border-radius-xs);
    border: none;
    outline: none;
}

.create-button{
    width: 100%;
    padding: var(--padding-m) var(--padding-s);
    background-color: rgb(50, 216, 50);
    border: none;
    outline: none;
    border-radius: var(--border-radius-sm); 
}

.bg{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: -1;
    backdrop-filter: blur(5px);
}


