/* <!-- root variable make our website consistent design wise --> */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
}

:root{
    /* background colors */
    --bg-primar-color:#0c0c0c;
    --bg-fill-color:#fdfdfc;
    --bg-food-color:rgb(195, 48, 48);

    /* text colors */
    --text-primary-color:#f0f0f0;

    /* Spacing variables */
   --space-xs: 4px;
   --space-sm: 8px;
   --space-md: 16px;
   --space-lg: 24px;
   --space-xl: 32px;
   --space-2xl: 40px;
   --space-3x1:48px;

   /* border colors */
   --border-primary-color:#333333;

   /* border radius */
   --border-radius-xs:4px;
   --border-radius-sm:8px;
   --border-radius-md:12px;
   --border-radius-lg:16px;
   --border-radius-xl:20px;
   --border-radius-2xl:24px;
}

html{
    background-color: var(--bg-primar-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
}

section{
    padding: var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    
    
}

section .infos{
    /* height: 100%; */
    width: 100%;
    /* border: solid 1px ; */
    display: flex;
    justify-content: space-between;
}

.info{
    border:1px solid;
    padding: var(--space-xs) var(--space-md); 
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    /* border-radius: var(--border-radius-md); */
    padding: var(--space-xs);
    /* flex: auto; */
    flex-grow: 1;  /*take all space*/
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr)); /*minmax(30px,1fr) meanse minimam 30px hoga and max 1fr to disturabute vacant space evenly */
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    /* justify-content: center;
    align-items: center; */
}

.box{
    height: 50px;
    width: 50px;
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.fill{
    background-color: var(--bg-fill-color);

}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(5px);
}

.gameStartModal{
    border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    display: inline-block;
    padding: var(--space-sm) var(--space-md);
    
}

.btn{
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--border-radius-sm);
    /* outline: none; */
    /* font-size: var(--text-primary-color); */
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
}

.gameRestartModal{
     border: 2px solid var(--border-primary-color);
    border-radius: var(--border-radius-md);
    display: inline-block;
    padding: var(--space-sm) var(--space-md);
    display: none;
}
